
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link " id="products" asp-page="/Management/Products/Index">Товари</a></li>
    <li class="nav-item"><a class="nav-link " id="createProducts" asp-page="/Management/Products/Create">Додати товар</a></li>
    <li class="nav-item"><a class="nav-link " id="сreateAdministrator" asp-page="/Management/Administration/CreateAdministrator">Додати адміністратора</a></li>
    <li class="nav-item"><a class="nav-link" id="feedbacks" asp-page="/Management/Administration/Feedbacks">Звернення користувачів</a></li>
</ul>
