
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ProductsNavClass(ViewContext)" id="products" asp-page="/Management/Products/Index">Товари</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CreateProductsNavClass(ViewContext)" id="createProducts" asp-page="/Management/Products/Create">Додати товар</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CreateAdministratorNavClass(ViewContext)" id="сreateAdministrator" asp-page="/Management/Administration/CreateAdministrator">Додати адміністратора</a></li>
 </ul>
