@page

<div class="col">
    <h4>Інформація про способи доставки та оплату</h4>
    <p>Ви можете здійснювати замовлення в будь-який час дня. Дані про замовлення і методи оплати зберігаються в наших базах. Якщо Ви оформили замовлення в неробочий час - оператор зв'яжеться з вами в робочий день після 10:00.</p>
    <p class="font-weight-bold">Оплата</p>
    <p>Оплатити товар ви можете цілодобово на сайті за допомогою платіжної системи платіжними картками Visa або MasterCard.
        <br/>Окрім цього, товар можна оплатити готівкою при отриманні товару при самовивозі з нашого магазину або післяплатою при отриманні товару у поштових відділеннях.</p>
    <p class="font-weight-bold">Доставка</p>
    <p>Після замовлення на нашому сайті Вам доступна можливість отримання товару або із нашого магазину на вул. Воздвиженській, 123 у м. Києві, або через відділення Нової Пошти. Після оформлення замовлення наш оператор уточнить місцеположення найзручнішого для Вас відділення поштової служби Нової Пошти.</p>
    <a asp-page="/Index" class="btn btn-outline-primary shadow-sm"><i class="fas fa-arrow-left"></i> Повернутися до магазину</a>
</div>
