@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблоковано";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Цей акаунт був заблокований через велику кількість спроб для входу із міркувань безпеки. Спробуйте, будь ласка, пізніше</p>
</header>
