@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження скидання паролю";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль був змінений. <a asp-page="./Login">натисніть тут для входу</a>.
</p>
